In [6]:
#1
import sqlite3

In [7]:
#2 to create database intern_training_db
conn = sqlite3.connect("intern_training_db.db")
cursor = conn.cursor()

In [ ]:
#3
#SQLite does not use schemas explicitly (unlike MySQL).

In [8]:
#4
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    email TEXT,
    age INTEGER
)
""")

In [9]:
#5
cursor.execute("""
INSERT INTO students (name, email, age) VALUES
('Amit Sharma', 'amit@gmail.com', 21),
('Riya Patel', 'riya@gmail.com', 22),
('Karan Verma', 'karan@gmail.com', 20),
('Sneha Rao', 'sneha@gmail.com', 23),
('Rahul Mehta', 'rahul@gmail.com', 24)
""")

conn.commit() #Without commit â†’ data is lost after program ends

In [10]:
#6
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall() #returns all rows

for row in rows:
    print(row) #to print each record

(1, 'Amit Sharma', 'amit@gmail.com', 21)
(2, 'Riya Patel', 'riya@gmail.com', 22)
(3, 'Karan Verma', 'karan@gmail.com', 20)
(4, 'Sneha Rao', 'sneha@gmail.com', 23)
(5, 'Rahul Mehta', 'rahul@gmail.com', 24)

In [13]:
#7
cursor.execute("SELECT name FROM students")
for row in cursor.fetchall():
    print(row)

('Amit Sharma',)
('Riya Patel',)
('Karan Verma',)
('Sneha Rao',)
('Rahul Mehta',)

In [15]:
#8
cursor.execute("SELECT COUNT(*) FROM students")
print("Total Students:", cursor.fetchone()[0])

Total Students: 5